*~
*.aux
*.fdb_latexmk
/*.bak
/*.bbl
/*.blg
/*.dvi
/*.fls
/*.log
/*.out
/*.toc
/*.pdf
/rev.tex
/abstract.txt
!/figs/*.pdf
!/figs/*.eps
!/data/*.pdf
!/data/*.eps
.latexrun.db
/rev.tex
/data/*-converted-to.pdf
/data/*.eps
/data/*.tex
/code/*.tex
